.container{
    width: 1280px;
    max-width: 100%;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    position: relative;
}

p{
    margin: 0;
}
html{
    background-color: #fffdf1;
}
.flex{
    display: flex;
}

.jcsb{
    justify-content: space-between;
}

.jcc{
    justify-content: center;
}

.alc{
    align-items: center;
}
ul{
    padding-left: 0;
    list-style: none;
}
