.container{
    width: 1280px;
    max-width: 100%;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.flex{
    display: flex;
}

.jcsb{
    justify-content: space-between;
}

.jcc{
    justify-content: center;
}

.alc{
    align-items: center;
}